html,
body {
    background: #eff2fa;
    color: #555;
}

.container {
    background: white;
}

.card {
    background: #eff2fa;
}

.card>.title {
    background: white;
}

#navigation {
    background: white;
}

#navigation>.separator {
    background: #eff2fa;
}

#navigation>.element {
    box-shadow: 0 9px 19px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.1);
}

#navigation>#settings.element {
    background: #F5F6FF;
}

#navigation>#settings.element>img {
    filter: invert(8%) sepia(8%) saturate(0%) hue-rotate(347deg) brightness(94%) contrast(100%);
}

#controls {
    background: white;
    border-bottom: 1px solid #eff2fa;
}

#controls>span.button {
    border: 5px solid white;
}

#message-box>.container {
    background: #eff2fa;
}

#message-box .mb-buttons {
    border-top: 1px solid white;
}

#vignette {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

button {
    background: white;
    border: 1px solid #eff2fa;
}

input[type="text"] {
    background: white;
    border: 1px solid white;
}

input[type="text"]:focus {
    border: 1px solid rgba(85, 85, 85, 0.3);
}

input[type="radio"]::before {
    background: white;
}

input[type="radio"]::after {
    background: white;
}